@use '../custom' as *;


.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;

    
}
.logo-box{
    display: flex;
    width: 200px;
    height: auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 1rem;
    &:hover{
        background-color: $gray-200;
        cursor: pointer;
    }
}