@use '../custom' as *;

.display-2{
    margin : 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--intro{
        display: inline-block;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    &--description{
    font-size: 1.5rem;
    display: block;
    margin-top: 1.2rem;
    text-transform: none;
    }
}

//heading line
.heading-line::before{
    content:"";
    width: 15rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}
.heading-line::after{
    content:"";
    width: 2rem;
    height: 0.5rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}
.heading-line2::before{
    content:"";
    width: 15rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $gray-200;
}
.heading-line2::after{
    content:"";
    width: 2rem;
    height: 0.5rem;
    display: block;
    margin: 0 auto;
    background-color: $gray-200;
}

.display-3{
    font-family: 'Poppins', sans-serif;

    &--title{
        font-size: 1.8rem;
        text-transform: capitalize;
        font-weight: 600;
        display: inline-block;
        background-image: linear-gradient(to right, $primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}